.game-div{
    width: 800px;
    margin: 0 auto;
    margin-top: 40px;
    background-color:lightblue;
}

.btn-mod{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    cursor: pointer;
    background-color: aqua;
}
.content{
    background-color:lightblue;
    justify-content: center;
    margin: 0 auto;
    font-family: Arial;
    text-align: center;
    padding-bottom: 5pc;
    cursor: pointer;
       

}