.contaner {

    
        background-color:whitesmoke;
        color:black;
        border: 3px solid cornflowerblue;
        
        margin: 10px;
        font-family: Arial;
        text-align: center;
        padding-top: 10px;
        padding-bottom:20px;
        
    
}
